apiVersion: apps/v1
kind: Deployment
metadata:
  name: cicd-devops
spec:
  replicas: 2
  selector:
    matchLabels:
      app: devops
  template:
    metadata:
      labels:
        app: devops
    spec:
      containers:
      - name: app
        image: cicd-devops
        ports:
        - containerPort: 5000
